body{
  padding:0;
  margin:0;
  font-family:sans-serif;
}

body, table{
  font-size:10pt;
}

#top{
  position:fixed;
  width:100%;
  height:50px;
  border:1px solid;
  background-color:#ddd;
}

#top > form{
  margin-left:305px;
}

#left{
  position:fixed;
  top:50px;
  width:300px;
  padding-left:10px;
  margin-right:25px;
  border-right:1px solid;
  height:90%;
  overflow: scroll;
  /*background-color:#ddd;*/
}

#left .facet{
  margin-top:1em;
}

#left .facet > strong{
  text-transform:capitalize;
}

#left .facet-hidden, #left .facet-toggle-hidden {display: none;}

#left .facet-toggle a,
#left .facet-toggle-hidden a {
  text-decoration:none;
  color:black;
}

#main{
  padding-top:50px;
  margin-left:310px;
  overflow:hidden;
}

#statistics{
  padding: 0.5em;
  padding-bottom: 0;
}

#pagination{
  text-align:center;
}

#pagenavigation{
  padding-left:2em;
}

.highlight{
  background-color:yellow;
}
table{
  border-collapse:collapse;
  border:1px solid;
  width:100%;
  /*margin:auto;*/
}

th, td{
  border:1px solid;
  padding:5px;
}

th{background-color:#ccc;}